.login-header-color {
    background-color: #2c2c2d;
}

#brand-name {
font-size: auto;
padding: 10px 0px;
color: white;
text-align: center;
}

#custom-fieldset {
padding: 10px 0px;
font-size: 16px;
}

#form-div {
font-size: 16px;
}

#login-btn {
  padding: 5px 16px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #7aa7ef;
  background-color: #fff;
  color: #7aa7ef;
}

#login-btn:hover {
	background-color: #7aa7ef;
	color: #fff;
}
#forgot-ps-text {
font-family: inherit;
font-size: 14px;
}

#forgot-ps-text:hover {
  text-decoration: underline;
}

#user-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}
