{% extends 'main_app/main_app_base.html' %}


{%block content %}
  <div class="container">
    <div class="p-3 mb-2 bg-white text-dark">
      <figure >
        <pre>
          <code>{{deviceconfig.device_config}}</code>
        </pre>
      </figure>
    </div>
    <br>
    <p class="text-right text-success">Last modified: {{deviceconfig.last_modify}}</p>
    <div>
      <a href="{% url 'main_app:devicedetail' pk=deviceconfig.pk%}"><button class="btn btn-primary" type="button">Back</button></a>
      <a href="{% url 'main_app:deleteconfig' pk=deviceconfig.pk%}"><button class="btn btn-danger" type="submit">Delete</button></a>
    </div>
    <br>
  </div>
{%endblock content %}
