{% extends 'main_app/main_app_base.html' %}


{%block content %}
  <div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <style>
      pre {
        border: 0px !important;
      }
      #config-container {
        background-color: #eee !important;
      }
      li.L0, li.L1, li.L2, li.L3,
      li.L5, li.L6, li.L7, li.L8 {
        list-style-type: decimal !important;

      }
    </style>
    <div id="config-container" style="overflow:scroll; height:600px;">

        <pre class="prettyprint linenums Desert" >
          {{deviceconfig.device_config}}
        </pre>
    </div>
    <br>
    <div >
      <p class="text-right  text-muted"><em>Created on [{{deviceconfig.config_created}} UTC] by </em><strong>{{deviceconfig.created_by.username}}</strong></p>
      <p class="text-right  text-muted"><em>Last modified on [{{deviceconfig.last_modify}} UTC] by </em><strong>{{deviceconfig.modified_by.username}}</strong></p>
    </div>
    <div>
      <a href="{% url 'main_app:devicedetail' pk=deviceconfig.pk%}"><button class="btn_class" id="btn-back" type="button">Back</button></a>
      <a href="{% url 'main_app:deleteconfig' pk=deviceconfig.pk%}"><button class="btn_class" id="btn-delete" type="submit">Delete</button></a>
    </div>
    <br>
  </div>
{%endblock content %}
