{% extends 'main_app/main_app_base.html' %}


{%block content %}

<div class="" style="width: 50%; margin-left: auto; margin-right: auto;">
  <h2>Device Details:</h2>
    <div class="">
      <a class="mycustom-select float-right" id="task-dropdown" style="margin-left: 10px;" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <!-- <a class="dropdown-item" href="#">Interfaces</a> -->
        <a class="dropdown-item"   data-toggle="modal" data-target="#exampleModal">
          Interfaces
        </a>
        <a class="dropdown-item"   data-toggle="modal" data-target="#vlanModal">
          VLANs
        </a>
        <a class="dropdown-item" href="config/{{device_detail.id}}" >Configuration</a>
      </div>
    </div>
    <div >
      <a class="mycustom-select float-right" id="task-dropdown"role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tasks
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {%if device_detail.device_type == 'S'%}
          <!-- <a class="dropdown-item" href="#">VLAN Change</a> -->
          <!-- Button trigger modal -->
          <a class="dropdown-item"  data-toggle="modal" data-target="#VlanchangeModal">
            Port VLAN Change
          </a>
          <a class="dropdown-item" href="syncvlans/{{device_detail.device_ip}}&{{device_detail.id}}">
            Sync VLANS
            <i class="material-icons" style="height: 0; color: green;">sync</i>
          </a>

        {%elif device_detail.device_type == 'R'%}
          <a class="dropdown-item" href="#">Run Script</a>
        {%endif%}
        <a class="dropdown-item" href="platformsync/{{device_detail.device_ip}}&{{device_detail.id}}">Sync Platform Details<i class="material-icons" style="height: 0; color: green;">sync</i></a>
        <a class="dropdown-item" href="syncconfig/{{device_detail.device_ip}}&{{device_detail.id}}">Sync Configuration<i class="material-icons" style="height: 0; color: green;">sync</i></a>
      </div>
      <!-- View Interface Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Interfaces</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="overflow:scroll; height:400px;">
              <table class="ctable ctable-noSideBorder">
                <thead class="layout">
                  <th>Interface Type</th>
                  <th>Interface Number</th>
                </thead>
                <tbody>
                  {%for interface in device_detail.device_interface.all%}
                    <tr>
                      <td>{{interface.interface_type}}</td>
                      <td>{{interface.interface_number}}</td>
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn_class" id="btn-save">Run</button>
            </div>
          </div>
        </div>
      </div>
      <!-- View VLANS Modal -->
      <div class="modal fade" style="width: 100%;" id="vlanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Interfaces</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="ctable ctable-noSideBorder">
                <thead class="layout">
                  <th>VLAN NAME</th>
                  <th>VLAN ID</th>
                </thead>
                <tbody>
                  {%for vlan in device_detail.vlans.all%}
                  <tr>
                    <td>{{vlan.vlan_name}}</td>
                    <td>{{vlan.vlan_id}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- VLAN Change Modal -->
      <div class="modal fade" id="VlanchangeModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modaldialogsize"  role="document" >
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Port VLAN Change</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal body -->

            <div class="modal-body" >
              <!-- Code goes here -->
              <form class="" action="tasks/vlanchange/{{device_detail.device_ip}}&{{device_detail.id}}" method="get" id="vlanchangeform">
                {%csrf_token%}

                <!-- <select id="interface_select" class="mycustom-select" name="interface_type" form="vlanchangeform" style="width: 70%; marging: 10px !important;">
                  <option value="" selected>-- Select Interface Type --</option>
                  <option value="Ethernet">Ethernet</option>
                  <option value="FastEthernet">FastEthernet</option>
                  <option value="GigabitEthernet">GigabitEthernet</option>
                  <option value="TenGigabitEthernet">TenGigabitEthernet</option>
                  <option value="TwentyFiveGigE">TwentyFiveGigE</option>
                  <option value="FortyGigabitEthernet">FortyGigabitEthernet</option>
                </select> -->
                <!-- select for interfaces -->
                <select class="mycustom-select" name="interface" form="vlanchangeform" style="width: 70%; marging-bottom: 10px;">
                  <option value="" selected>-- Select Interface --</option>
                  {%for interface in device_detail.device_interface.all%}
                    <option value="{{interface.interface_type}}={{interface.interface_number}}">{{interface.interface_type}}{{interface.interface_number}}</option>
                  {%endfor%}
                </select>
                <!-- select for data vlan -->
                <select class="mycustom-select" name="data_vlan_id" form="vlanchangeform" style="width: 70%; marging-bottom: 10px;">
                  <option value="" selected>-- Select Data VLAN --</option>
                  {%for vlan in device_detail.vlans.all%}
                    <option value={{vlan.vlan_id}}>{{vlan.vlan_name}} - ID {{vlan.vlan_id}}</option>
                  {%endfor%}
                  <option value="Ethernet">Ethernet</option>
                </select>
                <!-- select for voice vlan -->
                <select class="mycustom-select" name="voice_vlan_id" form="vlanchangeform" style="width: 70%; marging-bottom: 10px;">
                  <option value="" selected>-- Select Voice VLAN --</option>
                  {%for vlan in device_detail.vlans.all%}
                    <option value={{vlan.vlan_id}}>{{vlan.vlan_name}} - ID {{vlan.vlan_id}}</option>
                  {%endfor%}
                  <option value="Ethernet">Ethernet</option>
                </select>
                <!-- <input class="textinputclass" type="text" name="interface" form="vlanchangeform" value="" placeholder="Enter Interfaces"> -->
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn_class" id="btn-save">Run</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table id="device-table1">
      <table class="ctable ctable-noSideBorder">
        <tbody>
          <tr>
            <td style="font-weight: bold;">Device Name:</td>
            <td>{{device_detail.device_name}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">IP Address: </td>
            <td>{{device_detail.device_ip}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Model:</td>
            <td>{{device_detail.device_model}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Serial Number: </td>
            <td>{{device_detail.device_sn}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Software version: </td>
            <td>{{device_detail.software_version}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Location: </td>
            <td>{{device_detail.site.site_name}}</td>
          </tr>
        </tbody>
      </table>
    </table>
    <br>
    <a href="{% url 'main_app:viewdevices'%}"><button class="btn_class" id="btn-back" type="button">Back</button></a>
    <a href="{% url 'main_app:updatedevice' pk=device_detail.id%}">
      <button class="btn_class" id="btn-edit" type="submit">Edit</button>
    </a>
    <a href="{% url 'main_app:deletedevice' pk=device_detail.id%}">
      <button class="btn_class" id="btn-delete" type="submit">Delete</button>
    </a>
  </div>

{%endblock content %}
