{% extends 'main_app/main_app_base.html' %}


{%block content %}
  <div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div>
        <pre style="background-color: #e3e9ea; border-left: 3px solid #c2cfd1; color: #3b5456; padding: 18px; line-height: 18px; width: 100%;">
          <div>
            <code>{{deviceconfig.device_config}}</code>
          </div>
        </pre>
    </div>
    <br>
    <div >
      <p class="text-right text-info"><em>Created on: {{deviceconfig.config_created}} UTC</em></p>
      <p class="text-right text-success"><em>Last modified: {{deviceconfig.last_modify}} UTC</em></p>
    </div>
    <div>
      <a href="{% url 'main_app:devicedetail' pk=deviceconfig.pk%}"><button class="btn btn-primary" type="button">Back</button></a>
      <a href="{% url 'main_app:deleteconfig' pk=deviceconfig.pk%}"><button class="btn btn-danger" type="submit">Delete</button></a>
    </div>
    <br>
  </div>
{%endblock content %}
