{% extends 'main_app/main_app_base.html' %}
{% load crispy_forms_tags %}



{%block content %}
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
  <form class="form-group" method="post">
    <fieldset>
      <legend> <strong>Device Creation</strong></legend>
    </fieldset>
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <a href="{% url 'main_app:viewdevices' %}"><input id="btn-cancel" class="btn_class" type="button" value="Cancel"></a>
    <input id="btn-save" class="btn_class"  type="submit" value="Save">
  </form>
</div>

{%endblock content %}
