{% extends 'main_app/main_app_base.html' %}


{%block content %}
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
  <h2>Device Details:</h2>
  <br>
  <div class="edit-button-devices">
    <a href="{% url 'main_app:updatedevice' pk=device_detail.id%}">
      <button class="btn_class" id="btn-edit" type="submit">Edit</button>
    </a>
    <a href="{% url 'main_app:deletedevice' pk=device_detail.id%}">
      <button class="btn_class" id="btn-delete" type="submit">Delete</button>
    </a>
  </div>

  <table class="table table-bordered">
    <thead  class="thead-dark">
      <th>Device Name</th>
      <th>IP</th>
      <th>Model</th>
      <th>Serial Number</th>
      <th>Site</th>
      <th>Config</th>
      <th>Script</th>
    </thead>
    <tr>
      <td>{{device_detail.device_name}}</td>
      <td>{{device_detail.device_ip}}</td>
      <td>{{device_detail.device_model}}</td>
      <td>{{device_detail.device_sn}}</td>
      <td>{{device_detail.site.site_name}}</td>
      <td><a href="config/{{device_detail.id}}" style="padding:20px">Config</a><a href="{{device_detail.device_ip}}&{{device_detail.id}}"><button type="button" class="btn btn-outline-success"><i class="material-icons" style="font-size:20px;color:green">sync</i></button></a></td>
      <td><a href="script/{{device_detail.id}}" style="padding:20px">Script</a><button type="button" class="btn btn-outline-success"><i class="material-icons" style="font-size:20px;color:green">sync</i></button></td>
    </tr>
  </table>
  <br>

  <a href="{% url 'main_app:viewdevices'%}"><button class="btn_class" id="btn-back" type="button">Back</button></a>

</div>
{%endblock content %}
