
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block title %}
    {%endblock title %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script type="text/javascript" href="{% static 'js/main.js' %}">

    </script>
  </head>
  <body class="bg-light" style="font-family: sans-serif;">

    <header>
      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <div class="mb-4">


      <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #507682; font-size: 14px; font-family: 'Source Sans Pro' !important;">
        <div class="navbar-brand">

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main_app:home' %}">
                <div class="nav-icon">
                  <i id="home-icon"><img src="{% static 'img/round-home.svg' %}" alt="Home" ></i>
                </div>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main_app:viewsites' %}">
                <div class="nav-icon">
                  <i id="sites-icon"><img src="{% static 'img/round-business.svg' %}" alt="Sites"></i>
                </div>  <span class="sr-only">(current)</span></a>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main_app:viewdevices' %}">
                <div class="nav-icon">
                  <i id="devices-icon"><img src="{% static 'img/round-devices.svg' %}" alt="Devices" ></i>
                </div></a>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin:index' %}">
                <div class="nav-icon">
                  <i id="admin-icon" ><img src="{% static 'img/round-settings.svg' %}" alt="Admin"></i>
                </div></a>
              </a>
            </li>
          </ul>
          <div class="">
            {% if user.is_authenticated%}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
              </li>
            </ul>
            {% endif %}
          </div>
          <form class="form-inline my-2 my-lg-0" action="{% url 'main_app:search'%}" method="get">
              <input class="form-control ml-2 mr-sm-2 " type="search"  name="item" style="height: 30px;"placeholder="Hostname or IP" aria-label="Search">
              <button id="btn-search" class="btn_class" type="submit" >Search</button>
        </form>

          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </div>
    </header>
    <div class="container" style="padding: 16px 0px;">
      {% if messages %}
        {% for message in messages %}
            <div class="custom_alert" id="custom_alert_{{message.tags}}" role="alert">
             {{message}}
            </div>
        {% endfor %}
      {% endif%}
    </div>
    {%block content %}

    {%endblock content %}

    <!-- Here goes the page footer -->

      <!-- <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
          <p>Created by Francisco</p>
        </div>
      </footer> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>
