{% extends 'main_app/main_app_base.html' %}


{%block content %}
<div class="" style="width: 90%; margin-left: auto; margin-right: auto;">
  <div class="float-right">
    <a href="{% url 'main_app:updatesite' pk=sites_detail.id%}">
      <button class="btn-class" id="btn-edit" type="submit">Edit</button>
    </a>
    <a href="{% url 'main_app:deletesite' pk=sites_detail.id%}">
      <button class="btn-class" id="btn-delete" type="submit">Delete</button>
    </a>
  </div>
  <h2>Site Details</h2>
  <br>
  <table id="device-table1">
    <table class="ctable ctable-noSideBorder">
      <thead  class="layout">
        <th>Site Name</th>
        <th>Location</th>
        <th>Address</th>
        <th>Point of Contact</th>
        <th>Contact Number</th>
      </thead>
      <tbody>
        <tr>
          <td>{{sites_detail.site_name}}</td>
          <td>{{sites_detail.site_location}}</td>
          <td>{{sites_detail.site_address}}</td>
          <td>{{sites_detail.site_poc_name}}</td>
          <td>{{sites_detail.site_poc_number}}</td>
        </tr>
      </tbody>
    </table>
  </table>

  <br>
  <h2>Registered devices</h2>
  <br>
  <table id="device-table1">
    <table class="ctable ctable-noSideBorder">
      <thead  class="layout">
        <th>Device Name</th>
        <th>Device IP</th>
      </thead>
      <tbody>
        {% for device in sites_detail.devices.all %}
          <tr>
            <td><a href="{% url 'main_app:devicedetail' pk=device.id%}">{{device.device_name}}</a></td>
            <td>{{device.device_ip}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </table>

</div>
{%endblock content %}
