{% extends 'main_app/main_app_base.html' %}


{%block content %}
  <div class="" style="width: 90%; margin-left: auto; margin-right: auto;">
      <a href="{% url 'main_app:createsite' %}">
        <input class="btn-class float-right" id="btn-save" type="submit" value="Create">
      </a>
      <table id="device-table1">
        <table class="ctable ctable-noSideBorder">
          <thead class="layout">
            <th>Site Name</th>
            <th>Location</th>
            <th>Point of Contact</th>
          </thead>
          <tbody>
            {% for site in sites %}
            <tr >
                <td><a href="sites/{{ site.id }}">{{site.site_name}}</a></td>
                <td>{{site.site_location}}</td>
                <td>{{site.site_poc_name}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </table>

      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {%endif%}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
          {%endif%}
        {%endfor%}
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {%endif%}
      {% endif %}
    </div>
{%endblock content %}
