{% extends 'main_app/main_app_base.html' %}


{%block content %}
  <div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="container">
      <a href="{% url 'main_app:createsite' %}">
        <input class="btn btn-success  float-right" type="submit" value="Create">
      </a>
    </div>
    <div class="">
      <h1><strong>Sites:</strong></h1>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <th>Site Name</th>
            <th>Location</th>
          </thead>
          {% for site in sites %}
          <tr >
              <td><a href="sites/{{ site.id }}">{{site.site_name}}</a></td>
              <td>{{site.site_location}}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {%endif%}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
          {%endif%}
        {%endfor%}
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {%endif%}
      {% endif %}
    </div>
{%endblock content %}
