.textinputclass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d3d1d1;
  border-radius: 4px;
  box-sizing: border-box;
}

.textinputclass:focus {
  border: 2px solid rgba(107, 183, 255, 0.4);
}

.btn_class {
  color: black;
  padding: 5px 15px;
  margin: 0px 5px;
  border-radius: 4px;
}

#btn-cancel {
  background-color: #1979ff;
  color: white;
  padding: 5px 15px;
  margin: 0px 5px;
  border: 1px solid #0f7fff;
  border-radius: 4px;

}

#btn-cancel:hover {
  background-color: #185dff;
}

#btn-save {
  background-color: #27911b;
  color: white;
  padding: 5px 15px;
  margin: 10px 5px;
  border: 1px solid #27911b;
  border-radius: 4px;

}

#btn-save:hover {
  background-color: #237f19;

}

#btn-delete {
  background-color: #dc3545;
  color: white;
  padding: 5px 15px;
  margin: 0px 5px;
  border: 1px solid #dc3545;
  border-radius: 4px;


}

#btn-delete:hover {
  background-color: #a82633;
}

#btn-back {
  background-color: #007bff;
  color: white;
  padding: 5px 15px;
  margin: 0px 5px;
  border: 1px solid #007bff;
  border-radius: 4px;


}

#btn-back:hover {
  background-color: #005cbf;
}

#btn-edit {
  background-color: #ffc107;
  color: #3f2f00;
  padding: 5px 15px;
  margin: 0px 5px;
  border: 1px solid #ffc107;
  border-radius: 4px;


}

#btn-edit:hover {
  background-color: #c18100;
}

#btn-sync {
  line-height: 0;
  background-color: white;
  color: #075e19;
  border: 2px solid #0d9b2a;
  border-radius: 5px;
  padding: 2px 5px;
}

#btn-sync:hover {
  background-color: #0d9b2a;
}
.mycustom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: auto;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.edit-button-devices {
  padding: 10px 0px;

}


.custom_alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: .25rem;
}

#task-dropdown {
  width: 15%;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #2ea542;
  text-align: center;
  color: black;
}

#task-dropdown:hover {
  background-color: #2ea542;
  color: white;
}

#custom_alert_error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#custom_alert_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

#custom_alert_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}


/* css for device & sites tables */

#device-table1 {
  display: block;
}

#table_heading {
  width: 20%;
}
.ctable {
  background-color: #eaeaea;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
  border-collapse: collapse ;
  font-family: Helvetica,Verdana,sans-serif;
  font-weight: 300;
  width:100%;
  color: #757575;
  font-size: 14px;
  background-clip: padding-box;
}

.ctable thead {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.ctable tbody tr td{
  background-color: #fbfbfb;
  transition: .3s;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.ctable tbody tr:nth-child(2n+1) {
  background-color: #fbfbfb;
}

.ctable tbody td {
  padding: 14px 30px ;
  text-align: left;

}

.ctable  .layout th {
    font-weight: 300;
    text-align: left;
    color: #757575;
    padding: 12px;
    border-bottom: 1px solid #ccc;

  }

.ctable-noSideBorder tbody td:first-child {
  border-left: 0 !important;
}

.ctable-noSideBorder  thead .layout td {
    border-top: 0;
    border-left: 0;
}

.ctable tbody td {
  padding: 14px 18px;
  text-align: left;
}


.ctable tbody tr:nth-child {
    background-color: #fbfbfb;
}


.ctable tbody  tr {
    transition: .3s;
    border-bottom: 1px solid #eee;

}

.ctable tbody tr td a{
  color: #757575;
  font-weight: bold;
}

.modal-body {
    max-height: 800px;
}

/* modal css */
.mymodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

}

.modaldialogsize {
  width: 800px;
  height: 800px;
}

.myfade {
    transition: opacity .15s linear;
}
