{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login_css.css' %}">
<div id="container">
    <div class="login-header-color" >
      <h1 id="brand-name" ><strong>AutoNet</strong></h1>
    </div>
    <div >
      <img id="user-logo" src="{% static 'users/login.png' %}" alt="">
    </div>
  <form id="login-form" method="POST">
    <div class="form-group">
      <div id="content" class="colm">
      <fieldset id="custom-fieldset">
          <legend><strong>Log In</strong></legend>
      </fieldset>
        <div id="form-div">
          {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="submit-row">
          <input id="login-btn" type="submit" value="Login">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <br class="clear">
        <br class="clear">
        <fieldset style="padding: 10px;">
        <br class="clear">
        <small>
         <a id="forgot-ps-text" class="text-muted" href="#">Forgot password?</a>
        </small>
        </fieldset>
      </div>
    </div>
  </form>
</div>
{% endblock %}
