{% extends 'users/login_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="container">
    <div style="background-color: #584E76;">
      <h1 style="font-size: auto; padding: 10px 0px; color: white; text-align: center;"><strong>AutoNet</strong></h1>
    </div>
  <form id="login-form" method="POST">
    <div class="form-group">
      <div id="content" class="colm">
      <fieldset style="padding: 10px 0px; font-size: 16px;">
          <legend><strong>Log In</strong></legend>
      </fieldset>
        <div style="font-size: 16px;">
          {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="submit-row">
          <input style="padding: 5px 16px; border-radius: 5px; font-size: 16px; " type="submit" value="Login">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <br class="clear">
        <br class="clear">
        <fieldset style="padding: 10px;">
        <br class="clear">
        <small>
         <a class="text-muted" style="font-family: inherit; font-size: 14px;" href="#">Forgot password?</a>
        </small>
        </fieldset>
      </div>
    </div>
  </form>
</div>
{% endblock %}
